{% extends 'base.html.twig' %}

{% block title %}Edit Duck{% endblock %}

{% block body %}
    <h1>Edit Duck</h1>
    {% if (app.user.id == duck.id) %}
    {{ include('duck/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('duck/_delete_form.html.twig') }}
        {% else %}
        <p>Tu essaies d'éditer un profil qui n'est pas à toi, c'est pas très très sympathique ça dit donc !</p>
    {% endif %}
{% endblock %}
