{% extends 'base.html.twig' %}

{% block title %}New Quack{% endblock %}

{% block body %}
    <h1>Create new Quack</h1>

    {{ include('quack_crud/_form.html.twig') }}

    <a href="{{ path('app_quack_crud_index') }}">back to list</a>
{% endblock %}
