{% extends 'base.html.twig' %}

{% block body %}
<h1>Gg tu es log petit canard</h1>
    <br>
    <a href="{{ path('app_home') }}">Home</a>
    <br>
    <a href="{{ path('app_quack_crud_index') }}">CRUD Quack</a>
    <br>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}